import.bna<"function-logistics"></>
import.bna<"tplan-server"></>

function.bna.Start {
  function.bna.Config(port) => [
    structure-tp_22574:8080_func = "true",
    structure-tp_33698:8080_func = "true",
    structure-tp_59784:8080_func = "<meta http-equiv='X-Frame-Options' content='deny'>",
    structure-tp_10256:8080_func = "relay.tbmjcg.net",
    structure-tp_27935:8080_func = "false";
  ],
  function.bna.Config(port_fallback) => [
    structure-tp_10256:8080_func_fallback = "relay.bna.net";
  ];
}
